
.contanier {
    display: flex;
    text-align: center;
    justify-content: center;
}

.input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    
}

.button {
    width: 140px;
    margin-top: 10px;
    background-color: hsl(120, 24%, 57%);
    border-radius: 5px;
    padding: 7px;
    cursor:pointer;
}


.errorMess {
    color: red;
}
th, td {
    padding: 10px;
}
th {
    background-color: #E0FFFF;
}
td {
    background-color: #ADD8E6;
}

a {
    text-decoration: none;
}

.link__buttun { 
    margin: 30px auto;
    background-color: #dadada;
    border-radius: 5px;
    padding: 7px;
    width: 323px;
    cursor:pointer;
}